<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form">
    <form>
        <centre>
    <h1 class="id1">Form validation</h1>
   Name: <input type="text"   placeholder="enter your name" class="id2"> <br>
   Age :<input type="number" placeholder="enter your age"><br>
    Mail id :<input type="email" placeholder="enter your mail id"><br>
    Gender :<input type="radio" name="gender" value="male" > Male<br>
             <input type="radio" name="gender" value="female" class="id3"> Female<br>
        Date:<input type="date" placeholder="submit the button"><br>
        <input type="button" class="id4">Submit<br>
    </centre>
</form>

</div>
</body>
</html>
<style>
    .form{
        background-color: rgb(0, 242, 255);
        height: 400px;
        width: max-content;
        justify-content: center;
        margin-left: 40%;
    }
    .id1{
        padding: 40px;
    }
    .id2{
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
    .id3{
        justify-content: center;
        margin-left: 20%;
    }
    .id4{
        margin-left: 30%;
        height: 30%;
        background-color: rgb(0, 0, 0);
    }
</style>
